<mat-card>
    <mat-card-header>
      <mat-card-title>Employee Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Name:</strong> {{ employee.first_name }} {{ employee.last_name }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Department:</strong> {{ employee.department }}</p>
      <p><strong>Designation:</strong> {{ employee.designation }}</p>
      <p><strong>Salary:</strong> {{ employee.salary }}</p>
      <p><strong>Gender:</strong> {{ employee.gender }}</p>
    </mat-card-content>
  </mat-card>